<!-- NOTE: If you're working offline, you might have to change the DOCTYPE 
	to the following: <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate 
	Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> -->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.c3p0.max_size">300</property>
		<property name="hibernate.c3p0.timeout">100</property>
		<property name="hibernate.show_sql">false</property>
		<property name="stringtype">unspecified</property>
		<mapping class="com.app.contactsystem.model.Account" />
		<mapping class="com.app.contactsystem.model.CompanyType" />
		<mapping class="com.app.contactsystem.model.Contact" />
		<mapping class="com.app.contactsystem.model.SubCompany" />
	</session-factory>
</hibernate-configuration>